@charset "UTF-8";

/*
|------------------------------------------------------------------------------
| RESET
|------------------------------------------------------------------------------
*/

@import "partials/normalize";
@import "partials/reset";

/*
|------------------------------------------------------------------------------
| VARIABLES
|------------------------------------------------------------------------------
*/

/*
|------------------------------------------------------------------------------
| MIXINS
|------------------------------------------------------------------------------
*/

/*
|------------------------------------------------------------------------------
| LAYOUT & GRID
|------------------------------------------------------------------------------
*/

/*
|------------------------------------------------------------------------------
| TYPOGRAPHY
|------------------------------------------------------------------------------
*/

/* Selection Highlights */

::-moz-selection { background: #507aa5; color: #fff; text-shadow: none; }
::selection { background: #507aa5; color: #fff; text-shadow: none; }

/*
|------------------------------------------------------------------------------
| LINKS
|------------------------------------------------------------------------------
*/

/*
|------------------------------------------------------------------------------
| OBJECTS
|------------------------------------------------------------------------------
*/

/*
|------------------------------------------------------------------------------
| IMAGES
|------------------------------------------------------------------------------
*/

/*
|------------------------------------------------------------------------------
| TABLES
|------------------------------------------------------------------------------
*/

/*
|------------------------------------------------------------------------------
| FORMS
|------------------------------------------------------------------------------
*/

/*
|------------------------------------------------------------------------------
| HELPER CLASSES
|------------------------------------------------------------------------------
*/

/* Clearfix */

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }